@use '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.field{
  margin: 20px 0;
}

// エラー時フォームレイアウト保持
.field_with_errors{
  display: contents;
}

li{
  list-style: none;
}

.radio_button{
  position: relative;
  margin-right: 20px;
  vertical-align: middle;
}

// フラッシュメッセージ
.flash-message{
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0;
}

.flash-message.notice{
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert{
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}