<!--バリデーションエラー-->
<% if obj.errors.any? %>
<div class="text-center">
  <h4><%= obj.errors.count %>件のエラー</h4>
  <ul style="list-style: none;">
    <% obj.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>

<% end %>